.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex {
    display: flex;
    gap: 50px;
}

.aside-menu {
    width: 150px;
    height: 100vh;
}

.container {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}