.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0; 

}

.header {
    background-color: #003366; 
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    border: none; 
    margin-bottom: 0; 
}

.flex {
    display: flex;
    margin-top: 0; 
}

.aside {
    background-color: #336699; 
    min-height: 400px;
    width: 200px;
    padding: 20px;
    margin-right: 0; 
    border: none; 
}

.main {
    background-color: #6699CC; 
    width: calc(100% - 200px); 
    min-height: 400px;
    padding: 20px;
    color: white;
    text-align: center; 
    border: none; 
}

.span-container {
    width: 50%;
    float: left;
    text-align: right;
}

.span {
    color: white;
    margin-right: 10px;
    background-color: transparent;
}

.button {
    background-color: #003366; 
    color: white;
    padding: 10px 20px;
    border: none; 
    cursor: pointer;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    width: 100%;
}

.button:hover {
    background-color: #002244; 
}

* {
    border-radius: 0; 
}

.tabela-usuarios {
    width: 100%;
    border-collapse: collapse; 
    margin: 20px 0;
    background-color: #f9f9f9;
    color: #333;
    border: 1px solid #ddd; 
}

.tabela-usuarios thead {
    background-color: #003366; 
    color: white;
}

.tabela-usuarios thead th {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.tabela-usuarios tbody tr {
    border-bottom: 1px solid #ddd;
}

.tabela-usuarios tbody td {
    padding: 8px;
}

.tabela-usuarios tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
}

.tabela-usuarios tbody tr:hover {
    background-color: #e0e0e0; 
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
}

form h2 {
    margin-bottom: 20px;
    color: #003366;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #003366;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #002244;
}